/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */


/* Font Import */

@font-face {
    font-family:Josefinslab;
    src: url(../fonts/serif/josefinslab-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Robotoslab;
    src: url(../fonts/serif/robotoslab-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Rozhaone;
    src: url(../fonts/serif/rozhaone-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Ultra;
    src: url(../fonts/serif/ultra-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Lato;
    src: url(../fonts/sans-serif/lato-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Montserrat;
    src: url(../fonts/sans-serif/montserrat-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Opensans;
    src: url(../fonts/sans-serif/opensans-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Roboto;
    src: url(../fonts/sans-serif/roboto-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

/* Layout */

main {
    
}

section {
    
}

figure {
    
}

figcaption {
    background-color: olivedrab;
}

nav {
    font-family: 'Robotoslab',serif;
    display: inline;
}

footer {
    
}

h1 {
    font-family: 'Lato',sans-serif;
}

h1 > span {
    font-family: 'Ultra',serif;
    color: beige;
    background-color: firebrick;
    padding: 8px;
}

h2 {
    font-family: 'Robotoslab',serif;
}

h3 {
    font-family: 'Robotoslab',serif;
}

.subsection {
    display: flexgrid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.subsection > img {
    width: 290.5px;
    height: 350px;
}

.article-image {
    float:left;
    margin: 10px;
    width: auto;
    height: auto;
}

article {
    float: left;
    width: 75%;
}

aside {
    float: right;
    width: 25%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

aside > img {
    width: 70%;
    height: 70%;
}

.main-section {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

time {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-style: italic;
}

p {
    
}

footer {
    
}